
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: url("bg.jpg");  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #222;
  line-height: 1.6;
}



header {
  background-color: #f0cea4;
  color: white;
  padding: 30px 20px;
  text-align: center;
}

header h1 {
  margin-bottom: 10px;
}


nav {
  background-color: #8c8787;
  text-align: center;
  padding: 10px 0;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #cc00ffff;
}


section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}


.tentan {
  background-color: #86a233;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  color: white;
}


.project {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
  transform: scale(1.02);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.project img {
  float: right;
  max-width: 25%;
  height: auto;
  margin-left: 15px;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

#kontak p {
  margin-bottom: 10px;
}


footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}


@media screen and (max-width: 600px) {
  nav a {
    display: block;
    margin: 10px 0;
  }

  .project img {
    float: none;
    display: block;
    margin: 15px auto;
    max-width: 80%;
  }

  .tentan {
    text-align: center;
  }
}
